:root {
    --background-color: #e3eff969;
    --primary-color: #302b5e;
    --color-black: #000;
    --color-white: #fff;
    --text-color: #4b4b4b;
    --text--long-btn: #c7bce2;
  }

body {
    background-color: var(--background-color);
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3em 4em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.lista__link {
    text-decoration: none;
    color: var(--color-black);
    margin: 0 1em;
}

nav li  {
    padding: 1.2em 0;
}


li:last-child a {
    border-radius: 5px;
    color: white;
    padding: 1em 1.3em;
    background-color: var(--primary-color);
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 6em;
}

.container__img {
    width: 60%;
    padding-left: 3em;
}

.container__texto {
    padding-left: 8em;
}

.container__texto p {
    font-size: 16px;
}

.content__earlyacess {
    color: var(--text--long-btn);
    display: inline-block;
    padding: 0.5em 2em;
    background-color: var(--primary-color);
    border-radius: 30px;
    font-weight: 300;
}

.content__earlyacess a {
    color: var(--text--long-btn);
    font-weight: 600;
}

.container h2 {
    font-size: 50px;
    font-weight: 700;
    color: var(--primary-color);
    margin-block-start: 0.2em;
    margin-block-end: 0;
}

.content {
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
}

#label-email {
    width: 50%;
    height: 12%;
    opacity: 0.3;
    border-radius: 5px;
}

.botao {
    border-radius: 5px;
    color: white;
    padding: 1em 1.3em;
    background-color: var(--primary-color);
    text-decoration: none;
    margin-left: 0.5em;
}

#label-email::placeholder {
    font-size: 16px;
    padding-left: 1em;
}

footer {
    margin: 4em 14em;
}

footer ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 1em;
}

footer li {
    padding-right: 0.5em;
}