:root {
    --background-color: #e3eff969;
    --primary-color: #302b5e;
    --color-black: #000;
    --color-white: #fff;
    --text-color: #4b4b4b;
    --text--long-btn: #c7bce2;
  }

body {
    background-color: var(--background-color);
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;

}

.container {
    max-width: 980px;
    position: relative;
    margin: 0 auto;
}

.nav__container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-content: center;
    margin-top: 4em;
    margin-bottom: 6em;
}

.nav__lista {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#botao {
    background-color: var(--primary-color);
    color: white;
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
}

.lista__link {
    text-decoration: none;
    color: var(--color-black);
}

.container__texto p {
    font-size: 16px;
}


#label-email::placeholder {
    font-size: 16px;
}

.container__main {
    display: grid;
    grid-template-columns: 70% 30%;
}

.container__main img {
    width: 100%;
    padding-left: 1em;
}

.content__earlyacess {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 0.5em 2em;
    display: inline-block;
    color: var(--text--long-btn);
}

.content__earlyacess a {
    color: var(--text--long-btn);
    font-weight: 700;
}

.content__title {
    font-size: 48px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--primary-color);
    font-weight: bold;
}

.content {
    font-size: 18px;
    line-height: 1.5em;
    padding-right: 2em;
}

#label-email {
    width: 50%;
    height: 14%;
    border-radius: 5px;
    border-color: rgba(248, 248, 248, 0.237);
    margin: 1.2em 0;
    margin-right: 1em;
    padding-left: 1em;
}

.container__footer {
    margin-top: 4em;
}

.container__footer h3 {
    font-weight: 600;
    color: var(--text-color);
}

.patrocinios {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
}

.patrocinios li {
    padding-right: 1em;
}
